.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  display: inline;
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #111;
}


h2, h4 {
  text-align: center;
}

.memes {
  border: 5px solid green;
  display: flex;
  justify-content: center;
}

.meme {
  border: 1px solid red;
  max-width: 25%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div {
  border: 1px solid red;
  width: 300px;
  height: 300px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  .memes {
    flex-wrap: wrap;
  }
  .grid {
    flex-wrap: wrap;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 600px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  .memes {
    flex-wrap: nowrap;
  }
  .grid {
    flex-wrap: nowrap;
  }
}
